
<table class="profile" summary="Profile Information">
  <tr>
  	<td class="main">
  	  <h1>
        <%= image_tag ('http://' + @user.avatar.s3_host_alias + '/'+ @user.avatar.s3_bucket.instance_values['name'] + @user.avatar.path(:small) + '?' + @user.avatar.updated_at.to_s) %>
        <%= @user.username %>
      </h1>
    </td>
    <td class="sidebar round">
    	<strong>Name</strong> <%= @user.username %> <br />
    	<strong>URL</strong> <%= link_to user_path(@user), @user%> <br />
    	<span><%= link_to "Edit Info",  edit_user_path(@user) %></span>
    </td>
  </tr>
</table>
